.modal_calculation {
  .modal-header {
    border-bottom: 0;

    .modal-title {
      width: 100%;
      line-height: normal;

      .icon i {
        cursor: pointer;
        &.fa-times {
          margin-right: 10px;
        }
      }

      .title {
        color: #0b3280;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
      }
      .sub_header {
        font-size: 10px;
        color: #928f8f;
        text-align: center;
      }
    }
  }

  .modal-body {
    display: flex;
    justify-content: space-evenly;
  }

  .modal-body.py_large {
    padding: 1rem 5rem;
  }

  .modal-footer {
    margin: auto;
    border-top: 0;

    button {
      font-size: 13px;
    }
  }
}
