.radio {
  display: flex;

  .title {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 2px solid #eee;
      border-radius: 50%;
    }
  }

  .title:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .title input:checked ~ .checkmark {
    background-color: #414bb2;
    border: 0;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .title input:checked ~ .checkmark:after {
    display: block;
  }

  .title .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  i {
    margin: 5px 0 0 4px;
    font-size: 12px;
    color: #bbbbbb;
  }
}
