.modal_waiting {
  .modal-content {
    height: 300px;
  }

  .modal-body {
    padding: 5rem 3rem 1rem;

    div {
      color: #0b3280;
      font-size: 16px;
      line-height: 50px;

      span {
        color: #1a1a1a;
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }

  .modal-footer {
    border-top: 0;
    margin: 0 auto 2rem;

    button {
      font-size: 13px;
    }
  }
}
