.page_home {
  .circle {
    width: 320px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    img {
      width: 70px;
    }

    h3 {
      color: #2e093e;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
    }

    h6 {
      color: #bbbbbb;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 16px !important;
    }

    div {
      color: #171767;
    }
  }

  .btn {
    color: #171767;
    border: 1px solid #171767;
    padding: 8px 20px;
    background-color: #ffffff;
    border-radius: 2px;
    position: absolute;
    bottom: 10px;
  }
}
