.page_intersect {
  .btn {
    color: #171767;
    border: 1px solid #171767;
    padding: 8px 20px;
    background-color: #ffffff;
    border-radius: 2px;
    position: absolute;
    bottom: 10px;
  }

  .btn_go.disable {
    opacity: 0.2;
  }

  .icon_success i {
    color: #8fd14f;
    font-size: 44px;
    cursor: default;
  }

  .circle_select {
    width: 320px;
    height: 300px;
    border-radius: 50%;
    background-color: #21448a;
    display: flex;
    margin: auto;
    padding: 0 20px;
    position: absolute;
    left: 23%;
    z-index: 1;

    .decoration {
      width: 60%;
      position: relative;

      .logo {
        position: absolute;
        top: 16%;
        left: 34%;
      }

      .upload {
        color: #ffffff;
        font-size: 11px;
        font-weight: bold;
        position: absolute;
        top: 37%;
        display: flex;
        justify-content: center;
        width: 100%;

        i {
          font-size: 18px;
          margin-right: 10px;
        }

        span {
          text-decoration: underline;
        }
      }

      .icon {
        position: absolute;
        top: 51%;
        left: 50%;

        &_disable {
          font-size: 44px;
          color: #0b3280;
        }

        &_enable {
          font-size: 44px;
          color: #ffffff;
          cursor: pointer;
        }

        #upload-file {
          opacity: 0;
          position: absolute;
          z-index: -1;
        }
      }
    }

    .select {
      color: #ffffff;
      font-weight: bold;
      margin-left: auto;
      font-size: 13px;
      position: relative;

      .content {
        position: absolute;
        right: 0;
        bottom: 34%;
        text-align: center;

        .sub_title {
          font-weight: normal;
        }

        .icon i {
          font-size: 44px;
          cursor: pointer;
          margin-top: 10px;
        }
      }
    }
  }

  .circle_party {
    width: 320px;
    height: 300px;
    border-radius: 50%;
    background-color: #e1e1e9;
    position: absolute;
    right: 23%;

    .title {
      color: #0b3280;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      top: 20%;
    }

    .email {
      position: absolute;
      top: 33%;
      width: 70%;
      border: 1px solid #cccccc;
      font-size: 10px;
      padding: 5px;

      &::placeholder {
        font-size: 10px;
        color: #cccccc;
      }

      &:focus {
        outline: none;
      }
    }

    .email.show {
      border-color: #e1e1e9;
    }

    .wrapper {
      position: relative;
      width: 64%;
      height: 100%;
      margin-left: auto;

      .icon {
        position: absolute;
        top: 51%;
        right: 56%;

        i.icon_disable {
          font-size: 44px;
          color: #dbd8d8;
        }

        i.icon_enable {
          font-size: 44px;
          color: #0b3280;
          cursor: pointer;
        }
      }

      .error {
        position: absolute;
        top: 44%;
        font-size: 10px;
        color: #dc1a1a;
      }
    }
  }
}
