.page_logs {
  flex-direction: column;

  .wrapper {
    width: 45%;
    padding: 40px 10px 20px;
    border: 3px solid #224182;
    text-align: center;
    background-color: #ffffff;

    .title {
      color: #0b3280;
      text-decoration: underline;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .item {
      font-size: 13px;
      border: 1px solid #838383;
      padding: 14px 8px;
      width: 100%;
      margin-bottom: 14px;
      text-align: left;

      .download {
        color: #0b3280;
        text-decoration: underline;
        font-weight: bold;
      }
    }

    .more {
      margin-bottom: 20px;

      i {
        color: #808080;
        font-size: 24px;
      }
    }

    .note {
      font-size: 13px;
    }
  }
}
