.modal_success {
  .modal-header {
    border-bottom: 0;

    .modal-title {
      width: 100%;

      .title {
        text-align: center;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: #0b3280;
          text-decoration: underline;
        }

        i {
          color: #8fd14f;
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }
  }
  .modal-body {
    display: flex;
    font-size: 14px;
    line-height: 28px;

    .title {
      width: 54%;
      text-align: right;
      margin-right: 5px;
    }
  }

  .modal-footer {
    border-top: 0;
    margin: 0 auto 2rem;

    button {
      font-size: 13px;
    }
  }
}
