.menu {
  .dropdown-menu {
    margin: 0;
    padding: 0;
    min-width: 150px;
  }

  button {
    background-color: #ffffff;
    color: #000000;

    &.dropdown-toggle {
      font-size: 10px;
      display: flex;
      width: 150px;
      justify-content: space-between;
      align-items: center;

      &:hover,
      &:focus {
        background-color: #264b95 !important;
        border-color: #264b95 !important;
        box-shadow: none !important;
      }
    }

    &.dropdown-item {
      font-size: 10px;
      padding: 4px 8px;

      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
        background-color: #264b95 !important;
      }
    }
  }
}
