.modal_file_error {
  .modal-header {
    border-bottom: 0;
    margin: 6rem auto 0;

    .modal-title {
      display: flex;
    }

    i {
      color: #f4917e;
      font-size: 30px;
      margin-right: 10px;
    }

    .title {
      color: #0b3280;
    }
  }

  .modal-body {
    color: #0b3280;
    font-size: 14px;
    padding: 1rem 3rem;
    text-align: center;
  }

  .modal-footer {
    border-top: 0;
    margin: 0 auto 2rem;

    button {
      font-size: 13px;
    }
  }
}
