.modal_file_parsed {
  .modal-header {
    border-bottom: 0;

    .modal-title {
      width: 100%;
      line-height: normal;

      .icon i {
        cursor: pointer;
        &.fa-times {
          margin-right: 10px;
        }
      }

      .title {
        color: #0b3280;
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: #8fd14f;
          font-size: 30px;
          margin-right: 10px;
        }
      }
      .sub_header {
        font-size: 10px;
        color: #0b3280;
        text-align: center;
      }
    }
  }

  .modal-body {
    margin: auto;
    .menu:first-child {
      margin-right: 10px;
    }
  }

  .modal-body.py_large {
    padding: 1rem 5rem;
  }

  .modal-footer {
    margin: 0 auto 2rem;
    border-top: 0;

    button {
      font-size: 13px;
    }
  }
}
