body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: #2e093e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
  }

  h6 {
    color: #bbbbbb;
    text-transform: uppercase;
    font-size: 7px;
    font-weight: bold;
  }
}

.page {
  background-color: #f0f0f0;
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
