.header {
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  .brand {
    display: flex;
    align-items: center;

    .logo {
      margin-left: 20px;
    }
  }

  .menu {
    display: flex;

    ul li {
      display: inline-block;
      list-style: none;
      margin-left: 40px;

      a {
        text-decoration: none;
        color: #0e2f6d;

        &.active {
          color: #172b69;
          font-weight: bold;
        }
      }
    }
  }
}
